<h2>Current Boat</h2>
<p>
  <strong>Name: </strong><%= @boat.name%>
</p>

<p>
  <strong>Starting port: </strong> <%= @boat.location%>
</p>

<p>
  <strong>Max containers: </strong><%= @boat.containers%>
</p>
